html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex direction: column;
    max width: 1440px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    height: -webkit-fill-available;

    margin: 0 auto;
    font-family: system-ui;  
}



::-webkit-scrollbar {
    width: 0px;
}



.wrapper-main {
    width: 0px;
    height: auto;
    margin: auto;
}

.scroll-bg {

    width: 100px;
    margin: 100% auto;
    padding: 0px;

}

.scroll-div {
    width: 100px;

    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 1px;
}


.scroll-object {
color: white;
padding: 0px;
}



.hero {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    background-image: url("../portfolio/image/sticker_666.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    background-blend-mode: multiply;
    background-color: #ff0000;
    color: rgb(255, 255, 255);


    padding-top: 300px;
    padding-bottom: 500px;
}



.container {
   
    max-width: 96px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}



.footer-main {
    width: 100%;
    padding: 60px 0px 100px;
    background-color:#ff0000;
}


.footer-wrapper-main {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-logo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 100%; 
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-logo p {
    text-align: center;
    font-size: 15px;
    padding: 0 0;
}

.footer-main a{

}

.footer-tellurmum a {
    padding: 10px 20px;
    margin: 40px 0 60px;
    border: 2px solid white;
}

.footer-site-map {
    flex-basis: 100%;
}
